:host {
  .offer {
    padding: 20px;

    &__header, &__parameters {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: center;
    }

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__price {
      text-align: right;
      margin-left: auto;
      font-weight: 500;
    }

    &__comparison {
      margin-top: 10px;
      border-top: 2px solid #A08366;
      padding-top: 15px;
    }

    &__title {
      font-weight: 500;
      margin: 0 20px;
    }
  }

  .icon {
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
    }

    &__quantity {
      position: absolute;
      bottom: 15px;
      right: 16px;
      font-weight: 300;
      font-size: 10px;
      color: #fff;
    }
  }

  .silver {
    display: inline-flex;
    align-items: center;

    &:before {
      content: " ";
      display: block;
      background-image: url("assets/coins.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: 5px;
    }
  }

  .faction {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;

    &:before {
      content: " ";
      display: block;
      height: 15px;
      width: 10px;
      background-size: cover;
      background-image: url("assets/faction_icons.png");
    }

    &_lymhurst {
      &:before {
        background-position-y: 0;
      }
    }

    &_bridgewatch {
      &:before {
        background-position-y: -18px;
      }
    }

    &_martlock {
      &:before {
        background-position-y: -54px;
      }
    }

    &_thetford {
      &:before {
        background-position-y: -72px;
      }
    }

    &_fortSterling {
      &:before {
        background-position-y: -36px;
      }
    }

    &_caerleon {
      &:before {
        background-position: 0 90px;
      }
    }
  }

  .comparison {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_skeleton {
      height: 15px;
      margin-bottom: 7px;
    }

    .silver + .silver {
      &:before {
        content: " - ";
        display: inline;
        background-image: none;
        height: initial;
        width: initial;
        margin-left: 5px;
      }
    }

    &:before {
      display: inline-block;
      margin-right: 10px;
    }

    &_lymhurst {
      &:before {
        content: 'L:';
      }
    }

    &_bridgewatch {
      &:before {
        content: 'BW:';
      }
    }

    &_martlock {
      &:before {
        content: 'M:';
      }
    }

    &_thetford {
      &:before {
        content: 'T:';
      }
    }

    &_fs {
      &:before {
        content: 'FS:';
      }
    }

    &_caerleon {
      &:before {
        content: 'C:';
      }
    }
  }

  ngx-skeleton-loader {
    opacity: .35;
  }
}
