:host {
  .workspace {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &__offers {
    }

    &__cart {
      .offers {
        border-left: none;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;
      padding: 0 20px;
    }

    &__title {

    }
  }

  .offers {
    border: 1px solid #A9876B;
    max-width: 600px;
  }

  .offer {
    background: #E9C59F;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: #e0bc97;
    }

    &:nth-of-type(2n) {
      background: #DCBB9A;

      &:hover {
        background: #d0b394;
      }
    }
  }

  .warning {
    display: flex;
    flex-flow: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

    &__icon {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 500;
    }
  }

  .btt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, .75);
    border: 1px solid #ebebeb;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
  }
}
