name: Build artifacts

on:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install
      - name: Build frontend
        run: yarn build:frontend
      - name: Build application
        run: yarn build:app
      - uses: lucyio/upload-to-release@master
        with:
          name: lucyio/electron
          path: ./dist
          action: unpublished
          release_id: 0.x.x
          release-repo: lucyio/electron